h1 {
    text-transform: capitalize;
}

.p_pertama {
    text-align: center;
}

#p_kedua {
    text-decoration: underline;
}

body {
    color: white;
    background-color: green;
}

.p_tiga,
.p_empat {
    text-align: center;
}

.p_lima {
    text-decoration: line-through;
}